body {
    background-color: midnightblue;
    margin: 0;
    font-family: 'calibri', serif;
}

h1 {
    margin-top:0;
}



#content {
    background-color: #fdfefe;
    width: 1470px;
    margin: 0 auto;
    min-height: 500px;
    padding: 32px;
}

#footer {
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    bottom:1px;
    width: 100%;

}

.loginDiv {
    font-size: 28pt;
    margin-top: 40px;
    margin-left: 20px;
}

#username, #password {
    margin-left: 20px;
    font-size: 14pt;
}

.LogintoRegisterButton:hover {
    background-color: dodgerblue;
}

#IndextoLoginButton {
    width: 800px;
    background-color: cornflowerblue;
}

#IndextoLoginButton:hover {
    background-color: dodgerblue;
}
#loginButton:hover {
    background-color: dodgerblue;
}

.editButton, .deleteButton, #saveButton, #cancelButton, #loginButton, #IndextoLoginButton {
    color: black;
    font-size: 14px;
    border: none;
    padding: 8px;
    border-radius: 8px;
}
#loggedInDetails {
    margin: 0;
    text-align: right;
    display: inline;
    float: right
}

.deleteButton, #cancelButton {
    visibility: hidden;
    background-color: indianred;
    margin-left: 10px;
}

.editButton {
    visibility: hidden;
    background-color: silver;
}

